[submodule "src/content/posts"]
	path = src/content/posts
	url = https://github.com/jarusll/posts.git
	update = merge
[submodule "src/content/logs"]
	path = src/content/logs
	url = https://github.com/jarusll/diary.git
