---
const requestHeaders = Array.from(Astro.request.headers);
const responseHeaders = Array.from(Astro.response.headers);
---

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th colspan="2">Request Headers</th>
        </tr>
      </thead>
      <tbody>
        {
          requestHeaders.map(([key, value]) => (
            <tr>
              <td class="cell-key">{key}</td>
              <td class="cell-value">{value}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">Response Headers</th>
        </tr>
      </thead>
      <tbody>
        {
          responseHeaders.map(([key, value]) => (
            <tr>
              <td class="cell-key">{key}</td>
              <td class="cell-value">{value}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <slot />
    EOF
  </body>
</html>

<style is:global>

  body {
		font-family: "iA Writer Mono", monospace;
    width: 72ch;

    word-wrap: break-word;
    overflow-wrap: break-word;

    text-rendering: optimizeLegibility;
    line-height: 1.5rem;

    padding-left: 1rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  table {
    width: 72ch;

    border-top: 1px dashed black;
    border-left: 5px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;

    margin-top: 1rem;
    margin-bottom: 2rem;

    box-shadow: 2px 2px 0px black;
  }

  th {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  td {
    border: 1px solid black;
    padding-left: 0.5rem;
    word-break: break-word;
  }

  .cell-key {
    width: 30%;
  }

  code {
    font-weight: bold;
    padding: 0.2rem;
  }

  code:before {
    content: "`"
  }
  code:after {
    content: "`"
  }
</style>
