---
const requestHeaders = Array.from(Astro.request.headers);
const responseHeaders = Array.from(Astro.response.headers);
---

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th colspan="2">Request Headers</th>
        </tr>
      </thead>
      <tbody>
        {
          requestHeaders.map(([key, value]) => (
            <tr>
              <td class="cell-key">{key}</td>
              <td class="cell-value">{value}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">Response Headers</th>
        </tr>
      </thead>
      <tbody>
        {
          responseHeaders.map(([key, value]) => (
            <tr>
              <td class="cell-key">{key}</td>
              <td class="cell-value">{value}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <slot />
    <span class="EOF">EOF</span>
  </body>
</html>

<style>
.EOF {
  display: block;
  margin: 50px auto;
}
</style>
