---
const requestHeaders = Array.from(Astro.request.headers);
const responseHeaders = Array.from(Astro.response.headers);
---

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th colspan="2">Request Headers</th>
        </tr>
      </thead>
      <tbody>
        {
          requestHeaders.map(([key, value]) => (
            <tr>
              <td class="cell-key">{key}</td>
              <td class="cell-value">{value}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">Response Headers</th>
        </tr>
      </thead>
      <tbody>
        {
          responseHeaders.map(([key, value]) => (
            <tr>
              <td class="cell-key">{key}</td>
              <td class="cell-value">{value}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <slot />
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

  table {
    font-family: 'Courier Prime', monospace;

    min-width: 600px;
    width: 50vw;

    border-top: 1px dashed lightgray;
    border-left: 5px solid rgb(102, 102, 102);
    border-right: 1px solid lightgray;
    border-bottom: 1px solid black;
    border-collapse: collapse;

    margin-top: 1rem;
    margin-bottom: 2rem;

    box-shadow: 2px 2px 0px rgb(226, 226, 226);
  }

  th {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
  }

  td {
    border: 1px solid lightgray;
    padding-left: 0.5rem;
  }

  .cell-key {
    width: 20% !important;
  }
</style>
